<form method="post" action="{{ path('ligne_commande_delete', {'id': ligne_commande.id}) }}" onsubmit="return confirm({% trans %}delete_message{% endtrans %});">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ligne_commande.id) }}">
    <button class="btn"><i class="fas fa-trash-alt"></i></button>
</form>
