<form method="post" action="{{ path('jour_distrib_delete', {'id': jour_distrib.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ jour_distrib.id) }}">
    <button class="btn"><i class="fas fa-trash-alt" onclick="return confirm('Voulez-vous vraiment supprimer cette commande ?')"></i></button>
</form>
