{% extends 'base.html.twig' %}

{% block title %}Modifier un jour{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Modifier le {{ jour_distrib.date|format_datetime('full', 'none', locale='fr') }}</h3>
                <div class="card-tools">
                    {{ include('jour_distrib/_delete_form.html.twig') }}
                </div>            
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                {{ include('jour_distrib/_form.html.twig', {'button_label': 'Update'}) }}
                <a href="{{ path('jour_distrib_index') }}"><i class="fas fa-angle-double-left"></i></a>
            </div>
        </div>
    </div>
{% endblock %}
