{% extends 'base.html.twig' %}

{% block title %}Edit Settings{% endblock %}

{% block body %}

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Modifier {{ setting.name |trans}}</h3>          
            </div>
            <!-- /.card-header -->
            <div class="card-body">

                {{ include('settings/_form.html.twig', {'button_label': 'Valider'}) }}
                <a href="{{ path('settings_index') }}"><i class="fas fa-angle-double-left"></i></a>
            </div>
        </div>
    </div>

{% endblock %}
