{% extends 'base.html.twig' %}

{% block title %}Paramètres{% endblock %}

{% block body %}
    <h1>Paramètres</h1>

    <table class="table">
        <tbody>
        {% for setting in settings %}
            <tr>
                <td>{{ setting.name |trans}}</td>
                    {% if setting.name == 'color'%}
                    <td><div class="option-index-color color-{{setting.value}}"></div></td>
                    {% else %}
                    <td>{{ setting.value }}</td>
                    {% endif %}
                <td>
                    <button type="button" class="btn btn-primary" onclick="location.href='{{ path('settings_edit', {'id': setting.id}) }}'">Modifier</button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
