{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Liste des utilisateurs</h3>
                <div class="card-tools">
                    <a href="{{ path('app_register') }}" class="btn btn-tool btn-sm">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">

                <table  class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr onclick="document.location = '{{ path('user_show', {'id': user.id}) }}';">
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
